<!DOCTYPE html>
<html lang="si">
  <head>
  <title>Prijavite se:</title>

  </head>
  <body>
      <form action="/login" method="post">
        Username: <input name="username" type="text" />
        Password: <input name="password" type="password" />
        <input value="Login" type="submit" />
      </form>
	   <a href="/register/">Registracija</a>
	   
	   <button type="button" class="btn btn-default btn-lg">
       <span class="glyphicon glyphicon-star"></span> Star
        </button>

  </body>
</html>