%rebase ('base.html', title='Hotel Prestige')


<style type="text/css">
#wrap {
   width:1200px;
   margin:10 auto;
}
#left_col {
   float:left;
   width:400px;
}
#right_col {
   float:right;
   width:400px;
}
</style>

<div id="wrap">
    <div id="left_col">

<form id="trac-forma" class="form-horizontal" method="post" action="/trac/new/">
<fieldset>

<!-- Form Name -->
<legend>To dela Tilen</legend>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="trac"></label>
  <div class="controls">                     
    <textarea id="trac" name="trac"></textarea>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Kulsko!</button>
  </div>
</div>

</fieldset>
</form>

 </div>

 <div id="right_col">
 <legend>Moje rezervacije</legend>
 
 <table style="width:300px">
<tr>
  <th>Številka sobe</th>
  <th>Dan prihoda</th>
  <th>Dan odhoda</th>
</tr>
 
%for (soba,zacetek,konec) in termin:
%include ('termin.html', soba=soba,zacetek=zacetek,konec=konec)
%end
</table> 


</div>
</div>
