%rebase ('base.html', title='Hotel Prestige')


<style type="text/css">
#wrap {
   width:1200px;
   margin:10 auto;
}
#left_col {
   float:left;
   width:400px;
}
#right_col {
   float:right;
   width:700px;
}
</style>

<div id="wrap">

<!--=====================================Leva stran dokumenta========================================================================-->
<div id="left_col">
<div id="left_col">
<form id="trac-forma" class="form-horizontal" method="post" type="submit" action=".">
<fieldset>

<!-- Form Name -->
<legend>Izberite: </legend>

<!-- Buttons -->

<div class="control-group">
 
<div class="row">
<!--p class="text-center">Tip sobe:</p-->
 <div class="col-xs-8">
    <label for="izbrana_soba">Tip sobe: </label>
    <select class="form-control" name="izbrana_soba" id="izbrana_soba">
    	<option value=" Standard" selected="">Standard</option>
		<option value=" Nadstandard pogled na park">Nadstandard pogled na park</option>
		<option value=" Nadstandard pogled na morje">Nadstandard pogled na morje</option>
		<option value=" Deluxe pogled na park">Deluxe pogled na park</option>
		<option value=" Deluxe pogled na morje">Deluxe pogled na morje</option>
	</select>
  </div>

  <div class="col-xs-4">
  <label for="stevilo_postelj">Št. postelj: </label>
  <select class="form-control" name="stevilo_postelj" id="stevilo postelj">
		<option value="2" selected="">2</option>
		<option value="4">4</option>
	</select>
  </div>
  <!--Za osebe je treba pol narest še if ... --->
  <!--div class="col-xs-2">
  <select class="form-control" name="stevilo_oseb">
        <option value="1">1</option>
		<option value="2" selected="">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
	</select>
  </div-->
</div>

 
<!-- Date -->
<h5><b>Izberite datum:</b></h5>
<div class="input-group" id="datepicker">
<!--label for="zacetek">Datum prihoda: </label-->
    <input type="text" class="datepicker1" name="zacetek"  placeholder="dd.mm.yyyy" size="15" required=""/>
    <!--button type="button" class="btn btn-default btn-sm" disabled="disabled">do</button-->
	<!--label for="konec">Datum odhoda: </label-->
    <input type="text" class="datepicker2" name="konec"  placeholder="dd.mm.yyyy" size="15" required=""/>
</div>

<!--div class="checkbox">
  <label>
    <input type="checkbox" value="" name="zajtrk">
    zajtrk
  </label>
</div>
<div class="checkbox" >
  <label>
    <input type="checkbox" value="" name="dodatno_lezisce">
    dodatno ležišče
  </label>
</div-->

%if napaka: 
	<div class="alert alert-warning">{{napaka}}</div>
%end
	
<!-- Textarea -->
<br>
<form id="trac-forma" class="form-horizontal" method="post" type="submit" action=".">
<div class="control-group">

  <div class="controls">
    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Informativni izračun</button>
  </div>
</div><br>

%if cena:
<h4> Cena: <span class="label label-info"> {{cena}} &#8364 </span></h4>
<!--legend, font-size=15> Cena: {{cena}} &#8364</legend-->
%end


<div class="control-group">
  <div class="controls">
    <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Rezervirajte</button>
    <button type="reset" class="btn btn-default btn-sm">Reset</button>
  </div>
</div>

</form>


</fieldset>
 </div>


</div>


 <!--=====================================Desna stran dokumenta========================================================================-->
 <div id="right_col">
 <!-- ce je administrator vidi vse -->
 %if uporabnisko_ime == 'admin':
 <legend>Vse rezervacije</legend>
 <table style="width:800px">
<tr>
  <th>Ime</th>
  <th>Priimek</th>
  <th>Telefonska številka</th>
  <th>Številka sobe</th>
  <th>Dan prihoda</th>
  <th>Dan odhoda</th>
</tr>
 
%for (ime, priimek, tel_st,soba,zacetek,konec) in termin:
%include ('termin.html', ime=ime, priimek=priimek, tel_st=tel_st,soba=soba,zacetek=zacetek,konec=konec)
%end
</table> 
 
<!-- navaden uporabnik vidi le svoje rezervacije -->
%else:
 <legend>Moje rezervacije</legend>
 <table style="width:800px">
<tr>
  <th>Številka soba</th>
  <th>Tip</th>
  <th>Kapaciteta</th>
  <th>Dan prihoda</th>
  <th>Dan odhoda</th>
  <th>Cena na noč</th>
</tr>
 
%for (ime, priimek, tel_st,soba,zacetek,konec) in termin:
<tr>
  <td>{{ime}}</td>
  <td>{{priimek}}</td>
  <td>{{tel_st}}</td>
  <td>{{soba}}</td>
  <td>{{zacetek}}</td>
  <td>{{konec}}</td>
</tr>
%end
</table> 
%end 

</div>
</div>
