%rebase ('base.html', title='Hotel Prestige')


<style type="text/css">
#wrap {
   width:1200px;
   margin:10 auto;
}
#left_col {
   float:left;
   width:300px;
}
#right_col {
   float:right;
   width:800px;
}
</style>

<div id="wrap">
    <div id="left_col">

<form id="trac-forma" class="form-horizontal" method="post" action="/trac/new/">
<fieldset>

<!-- Form Name -->
<legend>To dela Tilen</legend>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="trac"></label>
  <div class="controls">                     
    <textarea id="trac" name="trac"></textarea>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="singlebutton"></label>
  <div class="controls">
    <button id="singlebutton" name="singlebutton" class="btn btn-primary">Kulsko!</button>
  </div>
</div>

</fieldset>
</form>

 </div>

 <div id="right_col">
 
 <!-- ce je administrator vidi vse -->
 %if uporabnisko_ime == 'admin':
 <legend>Vse rezervacije</legend>
 <table style="width:800px">
<tr>
  <th>Ime</th>
  <th>Priimek</th>
  <th>Telefonska številka</th>
  <th>Številka sobe</th>
  <th>Dan prihoda</th>
  <th>Dan odhoda</th>
</tr>
 
%for (ime, priimek, tel_st,soba,zacetek,konec) in termin:
%include ('termin.html', ime=ime, priimek=priimek, tel_st=tel_st,soba=soba,zacetek=zacetek,konec=konec)
%end
</table> 
 
<!-- navaden uporabnik vidi le svoje rezervacije -->
%else:
 <legend>Moje rezervacije</legend>
 <table style="width:800px">
<tr>
  <th>Številka soba</th>
  <th>Tip</th>
  <th>Kapaciteta</th>
  <th>Dan prihoda</th>
  <th>Dan odhoda</th>
  <th>Cena na noč</th>
</tr>
 
%for (ime, priimek, tel_st,soba,zacetek,konec) in termin:
<tr>
  <td>{{ime}}</td>
  <td>{{priimek}}</td>
  <td>{{tel_st}}</td>
  <td>{{soba}}</td>
  <td>{{zacetek}}</td>
  <td>{{konec}}</td>
</tr>
%end
</table> 
%end 

</div>
</div>
