<!DOCTYPE html>
<html lang="si">
<!--%rebase ('base.html', title='Hotel Prestige')-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <title>Registracija</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
	<!--link href="/static/css/bootstrap.css" rel="stylesheet"-->

    <!-- Custom styles for this template -->
    <link href="/static/login.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <strong>Registracija novega uporabnika</strong>
                </div>
				%if napaka:
                <div class="alert alert-warning">{{napaka}}</div>
                %end
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action=".">
                    <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" placeholder="Uporabniško ime" type="text"
							%if uporabnisko_ime:
                            value="{{uporabnisko_ime}}"
                            %end
                            name="uporabnisko_ime"
                            required="" autofocus> 
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="ime" required="" placeholder="Ime" type="text"
														%if ime:
                            value="{{ime}}"
                            %end
                            name="ime"
                            required="">
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="priimek" required="" placeholder="Priimek" type="text"
														%if priimek:
                            value="{{priimek}}"
                            %end
                            name="priimek"
                            required="" >
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="naslov" placeholder="Naslov" type="text"
							%if naslov:
                            value="{{naslov}}"
                            %end
                            name="naslov"
                            >
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="email" placeholder="E-mail" type="email"
							%if email:
                            value="{{email}}"
                            %end
                            name="email"
                            >
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="tel_st" placeholder="Telefonska številka" required="" type="tel"
							%if tel_st:
                            value="{{tel_st}}"
                            %end
                            name="tel_st"
                            >
                        </div>
                    </div>
					 <div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="geslo1" placeholder="Izberite geslo" required="" type="password">
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-sm-9">
                            <input class="form-control" name="geslo2" placeholder="Ponovite geslo" required="" type="password">
                        </div>
                    </div>
                    <div class="form-group last">
                        <div class="col-sm-offset-3 col-sm-9">
                            <button type="submit" class="btn btn-success btn-sm">
                                Registriraj se</button>
                            <a href="/logout/" class="btn btn-primary btn-xs">Prijava</a>

        </div><!--/.navbar-collapse -->
                        </div>
                    </div>
                    </form>
                </div>
        </div>
    </div>
</div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
